#container {
  width: 800px;
  height: 500px;
  background-color: white;
  border-style: solid;
  display: inline-block;
}

.innerbox {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: red;
  display: block;
  margin: auto;
  margin-top: 150px;
}
